body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .add-todo {
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }

  #todoList li {
    
    min-height: 30px; 
    padding: 5px;
    margin-bottom: 5px;
  }
  